*{
    margin: 0;
}

#section_projet_detail {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 10px 30px;
}

#section_projet_detail img {
    width: 100%;
    height: 700px;
}

